<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="RollingFile"
                     fileName="logs/output.log"
                     filePattern="logs/output-%i.log">
            <PatternLayout>
                <Pattern>%d %p %C:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="50MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p %C:%L - %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" level="info" />
             <AppenderRef ref="RollingFile" level="info" />
        </Root>
    </Loggers>
</Configuration>
